<article class="post-card">
{{#if feature_image}}
    <a href="{{url}}">
        <img class="post-card-feature-image" src={{feature_image}} />
    </a>
{{/if}}
    <section class="post-card-title">
        <a href="{{url}}">
            <h2>{{title}}</h2>
        </a>
        <hr class="post-card-meta-separator" />
        <time class="post-card-meta-time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
    </section>
    <section class="post-card-expert">
    {{#has tag="#article"}}
        <p>{{excerpt}} <span> <a href={{url}}>Continue &rarr;</a></span></p>
    {{else}}
        {{content}}
    {{/has}}    
    </section>
</article>

