{{!< default}}

{{#post}}
<article class="post">

{{#if feature_image}}
    <img class="post-feature-image" src={{feature_image}} />
{{/if}}
    <section class="post-section-header">
        <h1 class="post-title">{{title}}</h1>
        <hr class="post-meta-separator" />
        <time class="post-meta-time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
    </section>
    <section>
        {{content}}
    </section>
    {{> "share" }}
    {{!> "comments" }}
</article>
{{/post}}
